* {
    box-sizing: border-box;
}

h1 {
    color: blue;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.box {
    height: 226px;
    width: 200px;
    padding-left: 35px;
    padding-bottom: 96px;
    padding-right: 35px;
    background-color: #e0e0e0;
    margin-bottom: 30px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    width: 200px;
    height: 36px;
}

.img {
    height: 130px;
    width: 130px;
}